<!DOCTYPE html>
<html>
 <head><title>Query Parameters</title></head>
 

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  
        

        <div class="container">
        <form class="centered-form" method="POST" name="queryform" action="{{ url_for('index') }}" onsubmit="showPleaseWait()">
            {{ form.csrf_token }}
            <div id="pleasewait" style="display:none" class="status-div">
                <p><center>Running Query<br><br>Please Wait.....</center></p>
            </div>
            
            <b><center>Search Criteria - Panorama IP : {{ pano_ip }}</center></b><br><br>
            {{ form.f_source_ip_address.label }} {{ form.f_source_ip_address(size=15) }} (Blank for ANY)<br><br>
            {{ form.f_dest_ip_address.label }} {{ form.f_dest_ip_address(size=15) }} <br> <br>
            {{ form.f_start_date.label }} {{ form.f_start_date(class='datepicker') }} {{ form.hidden_tag() }} <br><br>
            {{ form.f_start_time.label }} {{ form.f_start_time(size=5) }} (HH:MM)<br> <br>
            {{ form.f_end_date.label }} {{ form.f_end_date(class='datepicker') }} {{ form.hidden_tag() }} <br><br>
            {{ form.f_end_time.label }} {{ form.f_end_time(size=5) }} (HH:MM)<br> <br>
            {{ form.f_port.label }} {{ form.f_port(size=4) }} <br><br>
            {{ form.f_submit() }}
        
        </form>
           
    
        </div>
  
        <script>
            function showPleaseWait() {
                document.getElementById('pleasewait').style.display = 'block';
            }
    
              
            function hidePleaseWait() {
                document.getElementById('pleasewait').style.display = 'none';
            }
    
         
        </script>     
</html>